/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f7f8fc;
}

/* Header */
header {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #222;
}
.header .logo-icon {
  font-size: 1.2rem;
  vertical-align: middle;
  margin-left: 5px;
  color: #ff6633;
}

.navbar ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #222;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #fd8d3a;
}

/* Auth Buttons */
.auth-buttons button {
  padding: 8px 16px;
  border: none;
  background: transparent;
  color: #fd8d3a;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-buttons .signup {
  background: #fd8d3a;
  color: white;
  border-radius: 6px;
}

.auth-buttons button:hover {
  transform: scale(1.05);
}

/* Hero Section */
.hero {
  width: 1200px;
  margin: 0 auto;
  padding: 60px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  width: 50%;
}

.hero-left h3 {
  font-size: 56px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.2;
}

.highlight {
  color: #fd8d3a;
}

.hero-left p {
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

.hero-btn {
  padding: 12px 24px;
  background: transparent;
  color: #fd8d3a;
  font-size: 18px;
  border: 2px solid #fd8d3a;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-btn:hover {
  transform: scale(1.05);
}

/* Hero Image */
.hero-right img {
  width: 500px;
  border-radius: 20px;
}

/* Explore Section */
.explore-section {
  width: 850px;
  margin: 40px auto;
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.dd-icon {
  width: 10px;
  height: 8px;
  margin-bottom: 4px;
}

.box h5 {
  font-size: 18px;
  color: #333;
  margin-bottom: 8px;
}

.box p {
  color: #777;
  font-size: 15px;
}

.explore-btn {
  padding: 12px 22px;
  background: #fd8d3a;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.explore-btn:hover {
  transform: scale(1.05);
}

/* THINGS-SECTION */
.things-need-section {
  width: 1200px;
  height: 525px;
  max-width: 100%;
  margin: 80px auto;
  background: #f7f8fc;
}

.things-need-section .top-area {
  display: grid;
  grid-template-columns: 1fr auto;
  text-align: center;
  align-items: center;
  gap: 30px;
  margin-left: 250px;
  margin-bottom: 40px;
}

.top-area h2 {
  margin-top: 60px;
  font-size: 36px;
  font-weight: 700;
  justify-content: space-between;
}

.top-area p {
  font-size: 14px;
  margin-top: 5px;
  color: #555;
  max-width: 400px;
  margin-left: 170px;
  line-height: 1.5;
}
.top-area img {
  width: 160px;
  position: relative;
  top: 25px;
  right: 150px;
}

.things-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

.things-card {
  padding-top: 15px;
  background: #ffffff;
  padding: 30px 22px;
  text-align: left;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.07);
}

.things-card:hover {
  transform: translateY(-10px);
}

.things-card img {
  width: 70px;
  margin: auto;
}

.things-card h4 {
  font-size: 18px;
  margin: 15px 0 8px;
  font-weight: 600;
}

.things-card p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

/* DISCOUNT SECTION */
.discount-section {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px 25px;
  background: #fefcfb;
  border-radius: 10px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.discount-header h2 {
  margin-top: 40px;
  font-size: 36px;
}

.discount-header p {
  margin: 10px auto;
  max-width: 460px;
  color: #555;
}

.location-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.location-card {
  background: #fefcfb;
  padding: 18px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s ease;
}

.loc-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.location-card:hover {
  transform: translateY(-10px);
}

.loc-details {
  text-align: left;
}

.loc-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  margin: 0 0 8px 0;
}

.rating-info {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.rating-info img {
  width: 16px;
  margin: 0;
}

.loc-country {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1rem;
  color: #666;
  margin: 0;
}

.loc-country img {
  width: 14px;
  margin: 0;
}

.swipe-buttons {
  margin-top: 5px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.swipe-btn {
  width: 45px;
  height: 45px;
  border: none;
  color: black;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 8px #000000ea;
  cursor: pointer;
  transition: 0.3s;
}

.swipe-btn:hover {
  background: #d66a1a;
}

/* VACATION-SECTION */

.vacation-section {
  margin: 80px auto;
  padding: 30px auto;
  text-align: center;
}

.container {
  max-width: 1200px;
  background: #fefcfb;
  border-radius: 10px;
  margin: 10px auto;
  padding: 45px 40px;
}

.vacation-header {
  position: relative;
  margin-bottom: 50px;
}

.vacation-header .title {
  font-size: 36px;
  font-weight: 700;
  color: #333;
}

.vacation-header .highlight {
  color: #ff6b00;
}

.vacation-header .subtitle {
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}

.header-decoration {
  position: absolute;
  top: -15px;
  right: calc(50% - 350px);
  font-size: 24px;
}

.arrows {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  transition: all 0.2s ease;
  box-shadow: 0 0 8px #000000ea;
}

.arrow-btn:hover {
  background-color: #ff6b00;
  border-color: #ff6b00;
  color: white;
}

.vacation-cards {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.vacation-card {
  flex: 1 1 300px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.vacation-card:hover {
  transform: translateY(-10px);
}

.vacation-card img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.card-content {
  padding: 15px 20px 20px;
  text-align: left;
}

.vacation-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  display: inline-block;
}

.price {
  float: right;
  font-size: 18px;
  font-weight: 700;
  color: #ff6b00;
}

.vc-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  color: #777;
  font-size: 14px;
}

.trip-length,
.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.vc-details img {
  width: 16px;
  height: 16px;
  aspect-ratio: auto;
  object-fit: contain;
}
/* Testimonial OR Feedback Sec */

.testimonial-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px 40px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  position: relative;
  background-color: #f7f8fc;
  overflow: hidden;
  border-radius: 10px;
}

.testimonial-container::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 60px;
  width: 150px;
  height: 150px;
  background-image: url(./img/airo-element.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(-10deg);
  z-index: 0;
}

.testimonial-content-left {
  flex: 1;
  max-width: 500px;
  padding-right: 40px;
}

.testimonial-content-left h1 {
  font-size: 53px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
  line-height: 1.2;
}

.testimonial-content-left .highlight {
  color: #ff8c4a;
}

.testimonial-content-left p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-top: 10px;
}

/* --- Navigation Arrows --- */
.navigation-arrows {
  display: flex;
  margin-top: 30px;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  margin-right: 15px;
  transition: all 0.2s ease;
  box-shadow: 0 0 8px #000000ea;
}

.arrow:hover {
  opacity: 0.8;
  background-color: #ff8c4a;
  border-color: #ff8c4a;
  color: white;
}

.testimonial-card-wrapper {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
  max-width: 500px;
  min-height: 400px;
}

.testimonial-card {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  margin-right: 70px;
  width: 100%;
  max-width: 450px;
  z-index: 2;
}

.reviewer-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ccc;
  float: left;
  margin-right: 20px;
  object-fit: cover;
  border: 3px solid white;
}

.testimonial-quote {
  font-size: 1.15em;
  line-height: 1.6;
  color: #333;
  margin-top: 10px;
  overflow: hidden;
}

.reviewer-details {
  margin-top: 20px;
  clear: both;
}

.reviewer-details h4 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.reviewer-details p {
  font-size: 0.9em;
  color: #999;
  margin: 5px 0 0 0;
}

.background-card {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 460px;
  max-width: 480px;
  height: 250px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}

.background-card .details {
  padding-top: 20px;
  border-top: 1px solid #e0e0e0;
}

.background-card h4 {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
  color: #666;
}

.background-card p {
  font-size: 0.9em;
  color: #aaa;
  margin: 5px 0 0 0;
}

/* Blog  section*/

.blog-section-container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 20px;
  text-align: center;
  background: #fefcfb;
}

.section-header h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 50px;
  margin-left: 250px;
}

.section-header .highlight {
  color: #fd8d3a;
}

.blog-posts-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 0 40px 0;
}

.blog-card {
  flex-basis: 23.5%;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  transition: box-shadow 0.3s ease;

  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.blog-card:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.blog-card:hover .card-image img {
  transform: scale(1.05);
}

.card-content {
  padding: 15px;
}

.card-content .title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #333;
  margin-top: 0;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content .date {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
}

.pagination-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #ff6633;
  width: 25px;
  border-radius: 5px;
}

/* --- Subscription Section Styling --- */

.subscribe-section-container {
  padding: 20px 20px;
  text-align: center;
  background-color: #f7f8fc;
}

.subscribe-card {
  max-width: 1200px;
  height: 450px;
  background-color: #fd8d3a;
  margin: 0 auto;
  padding: 70px 40px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(255, 102, 51, 0.4);
  background-image: url("./img/ring-bg.png");
  background-size: 500px auto;
  background-position: left bottom;
  background-repeat: no-repeat;
  opacity: 1;
}

.subscribe-card h2 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 30px;
  line-height: 1.5;
  font-weight: 700;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.subscribe-form-wrapper {
  text-align: center;
}

.subscribe-form {
  display: inline-flex;
  background: white;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  border-radius: 15px;
}

.subscribe-form input[type="email"] {
  padding: 18px 50px;
  width: 350px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  color: #333;
  outline: none;
}

.email-icon {
  background-image: url("./img/svg-icons/email.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 15px center;
  padding-left: 45px;
}

.subscribe-form button {
  background: #fd8d3a;
  color: white;
  padding: 18px 30px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-form button:hover {
  background-color: #ff6633;
}

.palm-trees-illustration {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 120px;
  height: auto;
  opacity: 5.5;
}

/* --- Footer Styling --- */

.main-footer-container {
  background-color: #f7f8fc;
  padding-top: 50px;
}

.footer-content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
}

.footer-column {
  flex-basis: 20%;
  min-width: 150px;
  text-align: left;
}

.footer-column.brand-info {
  flex-basis: 30%;
  min-width: 250px;
}

.footer-column h3,
.footer-column h4 {
  font-size: 1.3rem;
  color: #333;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
}

.footer-column h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

.footer-column .logo-icon img {
  height: 1.2rem;
  vertical-align: middle;
  margin-left: 5px;
}

.footer-column p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 30px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 18px;
}

.footer-column ul li a {
  text-decoration: none;
  color: #666;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #ff6633;
}

/* Social Icons */
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.social-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.social-icon img {
  width: 70px;
  height: 70px;
}

.social-icon.instagram {
  background-color: #ff6633;
  border-color: #ff6633;
}

.social-icon.instagram:hover {
  opacity: 10.9;
}

/* Footer Bottom */
.footer-bottom-wrapper {
  background-color: #f7f8fc;
}

.footer-bottom {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 20px;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #888;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #888;
  text-decoration: none;
}
